body{
    font-family:"Google Sans";
}

@keyframes blur {
    from {filter: blur(0px);}
    to {filter: blur(4px);}
}
.blured{
    animation-name: blur;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.mono{
    font-family: 'Roboto Condensed', sans-serif;
}

.hidden{
    visibility: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.fullContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.width{
    width: 100%;
}

.height{
    height: 100%;
}

ul.materialList li{
    margin-left: 5%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.01);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition-duration: 100ms;
    margin-bottom: 8px;
}

ul.materialList li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

ul.materialList li:active{
    background-color: rgba(66, 134, 245, 0.85);
    color: white;
}

ul.materialList li.active{
    margin-left: 5%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 95%;
    background-color: rgba(66, 134, 245, 0.85);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition-duration: 100ms;
    margin-bottom: 8px;
    color: white;
}

ul.materialList li.active:hover{
    background-color: rgba(66, 134, 245, 1);
}

@media only screen and (max-width: 992px) {
    li.box{
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.1);
        display: inline-block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 8px;
        width: 100%;
        transition-duration: 100ms;
        color: black;
        margin-bottom: 1%;
        position: relative;
    }
}

@media only screen and (min-width: 992px) {
    li.box{
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.1);
        display: inline-block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 30.1%;
        margin-right: 1%;
        transition-duration: 100ms;
        color: black;
        margin-bottom: 1%;
        position: relative;
    }
}

li.box:hover{
    background-color: rgba(66, 134, 245, 0.6);
    color: white;
}

.boxbackground{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background-position: center;
    background-size: cover;
    filter: blur(2px)
}

.background-image{

    background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

ul.materialBoxlist.options{
    position: absolute;
    top: 0px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
}

.box.active{
    border-width: 3px;
    border-color: rgba(66, 134, 245, 1);
    border-style: solid;
}

ul.newsList{
    width: 100%;
}

ul.newsList li{
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 22px;
    transition: 100ms;
}

ul.newsList li:hover{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    color: rgba(66, 134, 245, 1);
}

.newsListBottom{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #F2F2F2;
    color: rgba(66, 134, 245, 1);
    font-weight: bold;
}